:root {
  font-size: 16px;
}

body {
  height: 100%;
  background: #002727;
  background: -webkit-linear-gradient(
      to right bottom,
      #061d1e,
      #002727,
      #012312
    )
    no-repeat center center fixed;
  background: linear-gradient(to right bottom, #061d1e, #002727, #012312)
    no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

#info {
  margin: 10vw;
  max-width: 60%;
}

p {
  margin: 1rem 0;
  line-height: 1.75;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

#letsTalk {
  font-size: 1.25rem;
}
